@import "susy";
@import "breakpoint";
@import "susy-map";

// clear the footer
// columns
$columns-min: 4;
$columns-tablet: 8;
$columns-laptop: 12;
$columns-largescreen: 16;

// breakpoints
$max-em-per-column: 5em;

$break-tablet: $columns-tablet * $max-em-per-column;
$break-laptop: $columns-laptop * $max-em-per-column;
$break-largescreen: $columns-largescreen * $max-em-per-column;

/*layout*/


// set '.wrap' at the outer container
.wrap {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

footer {
  clear: both;
}

@include susy-breakpoint(0, 4) {
  .container {
    @include container;
    .t11-nav {
      display: none;
    }
  }
}

@include susy-breakpoint($break-tablet, $columns-tablet) {
  .container {
    @include container;
  }
}

@include susy-breakpoint($break-laptop, $columns-laptop) {
  .container {
    @include container;
    .generated-content {
      @include span(8);
    }
    img {
      @include span(last 4);
    }
  }
}

@include susy-breakpoint($break-largescreen, $columns-largescreen) {
  .container {
    @include container;
  }
}
