extends _base

block title
  |lorem gibson

block content
  header
    h1 Lorem gibson
  hr
  h2 A lorem ipsum replacement using the words of William Gibson
  .generated-content
    #title
    #spot
  img(src="images/orange-moon.jpg", alt="lunar eclipse")
